.webbod{
 
}
.webentwicklungbanner{
    background-image: url("resoucen/webbeispiel.png");
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
    height: 25rem;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 2px solid #505050 ;
    
}
.webentwicklungbannerdetop{
    background-image: url("resoucen/webbeispiel.png");
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
    height: 25rem;
    width: 52%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    border: 2px solid #505050 ;
}

.webebannerausrichtung{
  display: flex;
  margin-top: 7rem;
  flex-wrap: wrap;
}
.buttonangbot{
  width: 18rem;
  height: 4rem;
  margin: 0 auto;
    background-color: #1e1e1e;
    border: 2px solid #505050 ;
    border-radius: 32px;
    transition: all 0.5s ease;
    color: white;
    font-size: 1.6rem;
}
.qualiteatsliste{
  width: 38%;
  margin-left: 6%;
  color:white;
  font-family: Helvetica, sans-serif;
  font-size: 2.0rem;
  
}
.checksymol{
  padding-top: 35px;
  padding-right: 10px;
  width: 29px;
  height: 20px;
}

.qualiteatzeile{
  display: flex;
  height: 3.5rem;
  width: 30rem;
}
.webtitel{
  margin-left: 3%;
    color:white;
  font-family: Helvetica, sans-serif;
  font-size: 2.5rem;

}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% Verdunkelung */
  z-index: 1;
}
.trenlinie{
  
  background-color: white;
  height: 2px;
  width: 30%;
}


.qualiteattext{
  margin-top: 30px;
  
  padding-top: 3px;
  padding-bottom: 5px;
  width: 29rem;
  border-radius: 32px;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  h3{
    margin-bottom: 10px;
  }
}
.kostenicon{
  padding-top: 3rem;
  padding-left: 2rem;
  width: 6rem;

}

.qualiteatstexte{
  display: flex;
  margin-top: 50px;
  margin-left: 2%;
  color: white;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.webbody{
  width: 90%;
  margin: 0 auto;
}
h4{
  font-weight: 100 !important;
  font-size: 0,5rem !important;
}

.warumwir{
  padding: 0rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  color: white;
  width: 85%;
  margin: 0 auto;
  h3{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 4px;
  }
  h5{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
}
.hintergrundwarum{
  margin-top: 3rem;
  padding-top: 1rem;
  background-color: #1e1e1e;
}
.qualitätselememens{
  margin-top: 3rem;
  display: flex;
      flex-wrap: wrap;
    justify-content: space-evenly;
}
.qualielement{
  border-radius: 32px;
  background-color: #121212;
  margin: 0 auto;
  width: 28rem;
  height: 23rem;
  margin-bottom: 2rem;
  h4{
     padding-left: 2rem;
    padding-right: 4rem;
    margin-bottom: 2px;
  }
  h5{
    padding-left: 2rem;
    padding-right: 4rem;
    font-size: 1rem !important;
    text-align: start  !important;
  }
 
}
.pokalicon{
    padding-top: 3rem;
  padding-left: 2rem;
  width: 5rem;
}
.modernicon{
    padding-top: 3rem;
  padding-left: 2rem;
  width: 6.8rem;
}

@keyframes floatBackground {
  from {
    background-position: center 0px;
  }
  to {
    background-position: center 10px;
  }
}

@media (max-width: 900px){

.webtitel{
  margin-left: 3%;
    color:white;
  font-family: Helvetica, sans-serif;
  font-size: 1.7rem;

}
.webentwicklungbanner{
  width: 100%;
}
.qualiteatsliste{
  margin-top: 30px;
  width: 20rem;
  margin-left: 3%;
  color:white;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;

}
.qualiteatzeile{
  display: flex;
  height: 2.0rem;
}
.checksymol{
  padding-top: 25px;
  padding-right: 10px;
  width: 20px;
  height: 20px;
}
.qualiteattext{
  margin-top: 50px;
  padding: 0rem;
  width: 30rem;
  border-radius: 32px;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  h3{
    font-weight: 300;
    margin-bottom: 10px;
  }
  
}
.warumwir{
  padding: 0rem;
  font-family: Helvetica, sans-serif;
  font-size: 1.6rem;
  color: white;
  width: 85%;
  margin: 0 auto;
  h3{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 4px;
  }
  h5{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 3px;
  }
}
.hintergrundwarum{
  margin-top: 3rem;
  padding-top: 1rem;
  background-color: #1e1e1e;
}
.qualiteatstexte{
  display: flex;
  margin-top: 5px;
  margin-left: 3%;
  color: white;
  flex-wrap: wrap;
  justify-content: start;
}

.qualielement{
  border-radius: 32px;
  background-color: #121212;
  margin: 0 auto;
  width: 96%;
  height: 23rem;
  margin-bottom: 2rem;
  h4{
     padding-left: 2rem;
    padding-right: 4rem;
    margin-bottom: 2px;
  }
  h5{
    padding-left: 2rem;
    padding-right: 4rem;
    font-size: 1rem !important;
    text-align: start  !important;
  }
 
}

}